:root {
  --heading-font: "Staatliches", sans-serif;
  --paragraph-font: "Inter", sans-serif;
  --black-color: #000;
  --white-color: #fff;
  --link-font-size: 18px;
  --default-paragraph-size: 16px;
  --name-font-size: 24px;
  --resized-default-font-size: 14px;
  --centered-text: center;
  --default-font-weight: 400;
  --bold-font: bold;
  --paragraph-color: #828282;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  z-index: 100;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.navbar-nav .nav-link {
  font-family: var(--heading-font);
  font-size: var(--link-font-size);
  color: var(--white-color);
  margin-right: 60px;
}

.navbar-brand {
  font-family: var(--heading-font);
  margin-left: 30px;
  font-size: var(--name-font-size);
}

.content {
  flex: 1;
  padding: 80px 160px 150px 160px;
}

h1 {
  font-size: 64px;
  margin-top: 70px;
  font-weight: var(--bold-font);
  font-family: var(--heading-font);
}

.heading {
  margin-bottom: 20px;
  padding: 12px;
}

.hosting-links a {
  color: var(--black-color);
  font-family: var(--heading-font);
  font-size: var(--link-font-size);
  font-weight: var(--bold-font);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  padding-top: 40px;
  font-weight: var(--bold-font);
  font-family: var(--heading-font);
  text-align: left;
}

p {
  font-family: var(--paragraph-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-paragraph-size);
  color: var(--paragraph-color);
  margin-bottom: 30px;
}

.paragraph-text {
  padding-top: 30px;
}

.button {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 15px 20px;
  border-radius: 3px;
  font-family: var(--heading-font);
}

.weather-forecast {
  margin-top: 40px;
  padding-top: 40px;
}

footer {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 100%;
  font-family: var(--paragraph-font);
  font-weight: 100;
  line-height: 2;
  padding-bottom: 30px;
}

footer p a {
  font-size: var(--name-font-size);
}

.strong {
  margin-bottom: 10px;
  font-family: var(--heading-font);
  font-size: var(--link-font-size);
}

@media (max-width: 768px) {
  .content {
    padding: 10px 15px 50px 15px !important;
  }

  h1 {
    font-size: 40px;
    text-align: var(--centered-text);
  }

  p {
    font-size: var(--resized-default-font-size);
    padding: 10px 0 0 0;
  }

  h2 {
    font-size: 24px;
    padding: 0;
  }

  .button {
    font-size: var(--resized-default-font-size);
    padding: 5px 10px;
    font-size: 12px;
  }

  img {
    display: none;
  }

  .weather-forecast {
    padding-top: 5px;
    margin-top: 5px;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 40px 80px 75px 80px;
  }
}
