:root {
  --heading-font: "Staatliches", sans-serif;
  --paragraph-font: "Inter", sans-serif;
  --black-color: #000;
  --white-color: #fff;
  --default-font-size: 18px;
  --name-font-size: 24px;
  --resized-default-font-size: 16px;
  --centered-text: center;
  --default-font-weight: 400;
  --bold-font: bold;
  --paragraph-color: #828282;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  z-index: 100;
  width: 100%;
}

.navbar-nav .nav-link {
  font-family: var(--heading-font);
  font-size: var(--default-font-size);
  color: var(--white-color);
  margin-right: 60px;
}

.navbar-brand {
  font-family: var(--heading-font);
  margin-left: 30px;
  font-size: var(--name-font-size);
}

.content {
  flex: 1;
  margin-top: 100px;
}

h1,
h2 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
  margin-top: 70px;
  font-weight: var(--bold-font);
}

h2 {
  font-size: 48px;
  margin-top: 70px;
  font-weight: var(--bold-font);
}

p {
  font-family: var(--paragraph-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.homepage-paragraph {
  max-width: 70%;
  font-weight: var(--default-font-weight);
  color: var(--paragraph-color);
}

.homepage-column {
  max-height: 500px;
}

.website-description {
  text-align: var(--centered-text);
  max-width: 70%;
  margin: 150px auto;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  color: var(--paragraph-color);
}

.text-justified {
  text-align: justify;
}

footer {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 100%;
  font-family: var(--paragraph-font);
  font-weight: 100;
  line-height: 2;
  padding-bottom: 30px;
}

footer p a {
  font-size: var(--name-font-size);
}

.strong {
  margin-bottom: 10px;
  font-family: var(--heading-font);
  font-size: var(--default-font-size);
}

@media (max-width: 768px) {
  .content {
    margin-top: 0px;
  }

  h1 {
    font-size: 40px;
    text-align: var(--centered-text);
    margin-top: 20px;
  }

  h2 {
    font-size: 20px;
    text-align: var(--centered-text);
    margin-top: 50px;
  }

  .homepage-column {
    max-height: 350px;
    margin-bottom: 60px;
  }

  .homepage-paragraph {
    text-align: var(--centered-text);
    margin: auto;
  }

  .website-description {
    font-size: var(--resized-default-font-size);
    margin: 0 auto 50px auto;
    width: 100%;
  }

  .strong {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .content {
    margin-top: 50px;
  }

  .homepage-column {
    max-height: 350px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: var(--resized-default-font-size);
  }
}
